[Install]
WantedBy=multi-user.target

[Unit]
Description=Tmate-SSH
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
User=cnboonhan
ExecStart=/bin/tmate -F -f /home/cnboonhan/.tmate.conf
